:root {
      --header_height: 110px;
      --block_spacing: 100px;
      --font_base: 16px;
      --font_h1: 1.9em;
      --font_h2: 1.7em;
      --font_h3: 1.3em;
      --font_h4: 1.2em;
      --font_h5: 1.1em;
      --font_h6: 1em;
      --line_height: 2em;
      --accent: #17BEBB;
      --accent_rgb: 23, 190, 187;
      --color_tree:#4F46E5;
      --color_grow:#FF7D00;
      --color_store: #FFC300;
      --color_custom_shop:#17BEBB;
      --color_addons:#FE4A49;
      --disable: #aaa;
      --grey_border: #E3E3E3;
      --grey_block: #f7f7f7;
      --body: #021514;
      --black: #021514;
      --black_grow: #110800;
      --green: #09C677;
      --red: #CD0000;
      --yellow: #FFC300;
      --shadow_small: 0px 0px 5px rgba(0, 0, 0, 0.1);
      --shadow_medium: 0px 0px 20px rgba(0, 0, 0, 0.05);
      --shadow_large: 0px 0px 50px rgba(0, 0, 0, 0.05);
      --shadow_left_small: -2px 2px 5px rgba(0, 0, 0, 0.1);
      --shadow_right_small: 2px 2px 5px rgba(0, 0, 0, 0.1);
      --border_radius: 5px;
      --border_radius_medium: 10px;
      --border_radius_large: 15px;
      --btn_height: 60px;
      --btn_font_size: 1em;
      --btn_lg_height: 70px;
      --btn_lg_font_size: 1em;
      --btn_sm_height: 52px;
      --btn_sm_font_size: 14px;
      --btn_icon_font_size: 1.4em;
      --btn_icon_spacing: 7px;
      --btn_padding: 32px;
      --btn_lg_padding: 44px;
      --btn_sm_padding: 32px;
      --input_height: 60px;
      --input_padding: 20px;
      --input_bg: #fff;
      --input_border: 1px solid var(--grey_border);
      --title_featured_spacing: 50px;
      --title_featured_title: 3em;
      --checkbox_padding: 5px 0;
      --checkbox_size: 18px;
      --checkbox_icon: 10px;
      --checkbox_border_radius: 2px;
      --container_padding:40px;
    }

    [v-cloak] {
        display: none !important;
    }

    @font-face {
        font-display: swap;
    }

    @font-face {
        font-family: 'Mark Pro';
        src: url('../fonts/MarkPro-Heavy.woff2') format('woff2'),
            url('../fonts/MarkPro-Heavy.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    .ball {
      width: 50px;
      height: 50px;
      position: fixed;
      top: 0;
      left: 0;
      border: 3px solid var(--accent);
      border-radius: 50%;
    }

    .follow-ball {
      width: 25px;
      height: 25px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--accent);
      border-radius: 50%;
   }

   .grecaptcha-badge {
       display:none !important;
   }

    h1, h2, h3, h4, h5, h6, .gui-page-title, .title-font {
      font-family: 'Mark Pro', Helvetica, sans-serif;
      font-weight:900;
    }

    blockquote {
        font-family: 'Mark Pro', Helvetica, sans-serif;
        font-size: 2em;
        font-weight: 900;
        margin: 3rem auto;
        line-height: 130%;
        max-width: 550px;
    }

    body {
      margin: 0 !important;
        color:var(--body);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      text-shadow: 1px 1px 1px x(0,0,0,0.004);
      width:100%;
      font-size: var(--font_base);
      font-family: 'Inter', sans-serif;
/*       min-height:200vh; */
    }

    html.no-scroll {
      margin: 0;
      height: 100%;
      overflow: hidden;
    }

    div[class*=" col-"] {
        margin-left: -.5px;
    }

    i[class*="fi-rr"] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    img {
        width: auto;
      height: auto;
    }

    table {
        border-spacing: 0;
         border-collapse: collapse;
    }

    .relative {
        position:relative;
    }

    .body-wrap {
      position:relative;
      transition: transform .35s cubic-bezier(.29,.58,.32,1);
    }

    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }

    .line-height {
        line-height: var(--line_height);
    }

    a,
    a:hover,
    a:visited,
    a:focus {
        color:inherit;
      text-decoration:none;
      outline:none;
    }

    .ul-reset {
        list-style: none;
      margin: 0;
      padding: 0;
    }

    .title-font {
        line-height: 1.3em;
    }

    .general-content {
      font-size: 1em;
      line-height: var(--line_height);
    }

    .general-content strong {
      font-weight: bold;
    }

    .general-content ol,
    .general-content ul,
    .general-content p,
    .general-content table,
    .general-content .keep-together {
        margin-bottom:30px;
    }

    .general-content *:first-child {
        margin-top: 0;
    }

    .general-content *:last-child {
        margin-bottom: 0;
    }

    .general-content h1,
    .general-content h2,
    .general-content h3,
    .general-content h4,
    .general-content h5,
    .general-content h6 {
        font-weight: bold;
      color: var(--black);
    }

    .general-content h1 {
        font-size: var(--font_h1);
      margin-bottom: 20px;
    }
    .general-content h2 {
        font-size: var(--font_h2);
      margin-bottom: 20px;
    }
    .general-content h3 {
        font-size: var(--font_h3);
      margin-bottom: 20px;
    }
    .general-content h4 {
        font-size: var(--font_h4);
      margin-bottom: 15px;
    }
    .general-content h5 {
        font-size: var(--font_h5);
      margin-bottom: 10px;
    }
    .general-content h6 {
        font-size: var(--font_h6);
      margin-bottom: 10px;
    }

    .general-content a,
    .general-content a:visited,
    .general-content a:active,
    .general-content a:hover {
        text-decoration:underline;
      color: var(--accent);
    }

    .general-content ul {
        padding-left: 25px;
    }

    .general-content ul li {
        list-style: none;
      position: relative;
    }

    .general-content ul li:before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: var(--accent);
      vertical-align: middle;
      margin-right: 15px;
    }

    .general-content img,
    .general-content video {
        height: auto;
    }

    .general-content img,
    .general-content video,
    .general-content iframe {
        max-width: 100%;
    }

    .general-content table {
        width: 100%;
    }

    .general-content table tr td {
        padding: 5px 15px;
    }

    .responsive-iframe {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }
    .responsive-iframe iframe,
    .responsive-iframe object,
    .responsive-iframe embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
        height: var(--btn_height);
      padding: 0px var(--btn_padding);
      background: var(--accent);
      color: #fff;
      font-weight:bold;
      font-size: var(--btn_font_size);
      border-radius: var(--border_radius);
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    .btn.btn-large {
        height: var(--btn_lg_height);
      font-size: var(--btn_lg_font_size);
      padding: 0 var(--btn_lg_padding);
    }

    .btn.btn-small {
        height: var(--btn_sm_height);
      font-size: var(--btn_sm_font_size);
      padding: 0 var(--btn_sm_padding);
    }

    .btn i {
        font-size: var(--btn_icon_font_size);
    }

    .btn i.before {
        margin-right: var(--btn_icon_spacing);
    }

    .btn i.after {
        margin-left: var(--btn_icon_spacing);
    }

    .btn:active,
    .btn:focus,
    .btn:visited,
    .btn:hover {
        color:#fff;
    }

    .btn.disabled {
      opacity: .5;
      pointer-events: none;
    }

    .btn:active {
        box-shadow: inset 0 0 3px 3px rgb(0 0 0 / 20%);
    }

    .btn.error {
        background: var(--red);
    }

    .btn.success {
        background: var(--green);
    }

   .btn.btn-sec {
       color: var(--accent);
       background: rgba(var(--accent_rgb), .2);
   }

   .btn.btn-dark {
      background: var(--black);
      color: #fff;
  }

    .text-link {
        display: inline-flex;
        align-items: center;
        font-weight: bold;
        font-size: 1.125em;
    }

    .text-link.text-link-small {
        font-size: 14px;
    }

    .text-link i {
        font-size: 1.6em;
        margin-left: 3px;
        margin-bottom: -.15em;
        transition: transform .2s ease-in-out;
    }

    .standard-select select,
    .standard-input {
        height: var(--input_height);
      padding: 0px var(--input_padding);
      outline: none;
      border-radius: var(--border_radius);
      font-size: 1em;
      background: var(--input_bg);
      border:  var(--input_border);
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      width:100%;
    }

    .standard-select select {
        width: 100%;
    }

    .standard-input:focus {
        border-color: var(--accent);
    }

    textarea.standard-input {
        padding: var(--input_padding);
        min-width: 100%;
        max-width: 100%;
        min-height: 120px;
    }

    .standard-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #aaa;
    }

    .standard-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #aaa;
      opacity: 1;
    }

    .standard-input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #aaa;
      opacity: 1;
    }

    .standard-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #aaa;
    }

    .standard-input::-ms-input-placeholder { /* Microsoft Edge */
        color: #aaa;
    }

    .standard-select {
        position: relative;
    }

    .standard-select:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: var(--input_height);
        height: var(--input_height);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4em;
        font-family: boxicons!important;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\ea4a";
        color: var(--accent);
    }


    .validate-input {
        position: relative;
    }

    .validate-input input {
        width: 100%;
    }

    .validate-input:not(.validate-select).validated:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: var(--input_height);
        height: var(--input_height);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4em;
        font-family: boxicons!important;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .validate-input:not(.validate-select).validated.success:after {
        content: "\ed31";
        color: var(--green);
    }

    .validate-input:not(.validate-select).validated.error:after {
        content: "\ef06";
        color: var(--red);
    }

    .validate-select.error select {
        border-color: var(--red);
    }

    .icon {
        display: inline-flex;
    }

    .icon:before {
        display: flex;
    }

    .lazy-bg-cover {
      background-size: cover !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
    }

    .lazy-blur {
        transition: filter .15s ease-in-out;
    }

    .lazy-blur.lazy {
        filter: blur(20px);
    }

    .block-padding {
        padding-top: var(--block_spacing);
      padding-bottom: var(--block_spacing);
    }

    .block-padding-top {
        padding-top: var(--block_spacing);
    }

    .block-padding-bottom {
      padding-bottom: var(--block_spacing);
    }

    .block-margin {
        margin-top: var(--block_spacing);
      margin-bottom: var(--block_spacing);
    }

    .block-margin-top {
        margin-top: var(--block_spacing);
    }

    .block-margin-bottom {
      margin-bottom: var(--block_spacing);
    }

    .block-border {
        border-top: 1px solid var(--grey_border);
      border-bottom: 1px solid var(--grey_border);
    }

    .block-border-top {
        border-top: 1px solid var(--grey_border);
    }

    .block-border-bottom {
        border-bottom: 1px solid var(--grey_border);
    }

    .block-grey {
        background: var(--grey_block);
    }

    .block-dark {
        color: #fff;
        background: var(--black);
    }

    .image-wrap.grey {
        position: relative;
      background: #fff;
    }

    .image-wrap.grey:after {
        content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.03);
    }

    .image-wrap img {
        width: 100%;
      display: block;
    }

    .sm-tabs-block .page {
        display: none;
    }

    .sm-tabs-block .page.active {
        display: block;
    }

    .title-featured {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        --title_featured_accent: var(--accent);
        margin-bottom: var(--title_featured_spacing);
    }

    .title-featured .text-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title-featured.text-right,
    .title-featured.text-right .text-wrap {
        align-items: flex-end;
    }

    .title-featured.no-margin {
        margin-bottom: 0;
    }

    .title-featured.color-grow {
        --title_featured_accent: var(--color_grow);
    }

    .text-color-grow {
        color: var(--color_grow);
    }

    .title-featured.color-tree {
        --title_featured_accent: var(--color_tree);
    }

    .title-featured .title {
      font-size: var(--title_featured_title);
      color: var(--black);
    }

    .block-dark .title-featured .title {
        color: #fff;
    }

    .title-featured .subtitle {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1em;
    }

    .title-featured .general-content {
        margin-top: 20px;
        max-width: 550px;
    }

    .title-featured.wide-content .general-content {
        max-width: 800px;
    }

    .title-featured .title span,
    .title-featured .title a,
    .title-featured .general-content strong,
    .title-featured .general-content a,
    .title-featured .featured-link.text-link {
        color: var(--title_featured_accent);
    }

    .title-featured .title a {
        text-decoration: underline;
    }

    .title-featured:not(.link-no-margin) .featured-link {
        margin-top: var(--title_featured_spacing);
    }

    .title-featured .featured-link.btn {
        background: var(--title_featured_accent);
    }

    .title-featured.mw-title .title {
        max-width: 700px;
    }

    .text-container {
        width: 100%;
      max-width: calc(1000px - (var(--container_padding) * 2));
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--container_padding);
      padding-right: var(--container_padding);
    }

    .container,
    .container-fluid {
        width:100%;
        padding:0px var(--container_padding);
    }

    .img-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .bg-tree {
        background: var(--color_tree) !important;
    }

    .bg-grow {
        background: var(--color_grow) !important;
    }

    .bg-accent {
        background: var(--accent) !important;
    }

    .accent {
        color: var(--accent) !important;
    }

    .accent-tree {
        color: var(--color_tree) !important;
    }

    .accent-grow {
        color: var(--color_grow) !important;
    }

    .bg-cover {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .stars {
        display: inline-flex;
        align-items: center;
        color: var(--yellow);
    }

    .stars i:not(:last-child) {
        margin-right: 1px;
    }

    .stars .grey {
        color: var(--black);
        opacity:.5;
    }

    .stretch-slider .splide__slide {
        display: flex;
    }

    @media (min-width: 1200px) {
      .container {
        width:100%;
        max-width: calc(1400px + (var(--container_padding)*2));
      }

      .btn:hover {
        filter: brightness(90%);
      }

      .text-link:hover i {
          transform: translate(5px);
      }

      .title-featured .general-content {
          font-size: 1.125em;
      }

      .title-featured.no-margin-desktop {
          margin-bottom: 0;
      }

      .title-featured.link-no-margin-desktop .featured-link {
          margin-top: 0;
      }

      .title-featured .title a:hover {
          text-decoration: underline;
      }
    }

    @media (max-width: 1999px) {
        :root {
          --block_spacing: 100px;
      }
    }

    @media (max-width: 1199px) {
        :root {
          --block_spacing: 70px;
          --container_padding:30px;
          --title_featured_spacing: 40px;
          --title_featured_title: 2.6em;
      }
    }

    @media (max-width: 767px) {
        :root {
          --block_spacing: 50px;
          --container_padding:20px;
          --btn_lg_height: 60px;
          --btn_lg_padding: 36px;
          --btn_lg_font_size:.9em;
          --title_featured_spacing: 30px;
          --title_featured_title: 1.9em;
      }

      .title-featured .subtitle {
          font-size: .9em;
      }
    }
    /* End general styles */

    /* Header */
    #header .header-fixed-wrap {
        position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
    }

    #header a {
        var(--black);
    }

    #header.scrolled .header-fixed-wrap {
        background:#fff;
        transition: all .2s ease-in-out;
    }

    #header .main-header {
        padding: 25px 0;
    }

    #header .main-header .inner {
        display: flex;
      align-items: center;
    }

    #header .main-header .header-col {
        display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    #header .main-header .header-col.cta-col {
        justify-content: flex-end;
    }

    #header .main-header .logo img {
        height: 30px;
    }

    #header.header-light,
    #header.header-light a {
        color:#fff;
    }

    /* #header.header-light.scrolled,
    #header.header-light.scrolled a {
        color: var(--black);
    } */
    #header.header-light.scrolled,
    #header.header-light.scrolled a:not(.btn) {
        color: var(--black);
    }

    #header .main-menu .main-nav {
        display: flex;
        font-weight:bold;
    }

    #header .main-menu .main-nav li {
        display: flex;
      align-items: stretch;
      white-space:nowrap;
    }

    #header .main-menu .main-nav li .quantity {
        display: flex;
        width: 20px;
        height: 20px;
        background: red;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-left: 5px;
        background: rgba(var(--accent_rgb), .2);
        color: var(--accent);
    }

    #header .main-menu .main-nav li.active,
    #header .main-menu .main-nav li:hover {
        color:var(--accent);
    }

    #header .main-menu .main-nav li:not(:last-child) {
        margin-right: 40px;
    }

    #header .main-menu .main-nav li a {
        display: flex;
      align-items: center;
    }

    #header .main-menu .main-nav li.active a {
        font-weight: bold;
    }

    #header .open-menu {
        display: flex;
      padding: 15px;
      margin: -15px;
      font-size: 24px;
    }

    .languages ul {
        list-style:none;
        margin:-5px;
        padding:0;
        display:flex;
    }

    .languages ul li {
        padding:5px;
        opacity:.5;
    }

    .languages ul li.active,
    .languages ul li:hover {
        opacity:1;
    }

    .languages img {
        width:20px;
        height:20px;
        object-fit:cover;
        border-radius:100%;
    }

    @media (min-width: 1200px) {
        #header .languages {
            margin-right:20px;
        }
    }

    @media (max-width: 1199px) {
        #header .main-menu .main-nav li:not(:last-child) {
            margin-right:24px;
        }
        #header .main-header .logo img {
            height:25px;
        }
    }
    @media (max-width: 991px) {
        #header .main-header .header-col.logo-col {
            display:flex;
            justify-content:center;
        }
    }
    /* End header */

    /* Mobile menu */
    /* .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 300px;
      background: #fff;
      z-index: 9999;
      overflow-x: hidden;
      transform: translate(-300px, 0px);
      transition: transform .35s cubic-bezier(.29,.58,.32,1);
    }

    .mobile-menu.mobile-menu-open {
      transform: translate(0px, 0px);
    }
    .body-wrap.mobile-menu-open {
      transform: translate(300px, 0px);
    }

    .mobile-menu-overlay {
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.3);
      z-index:9999;
      overflow:hidden;
      opacity:0;
      visibility:hidden;
      transition: all .35s cubic-bezier(.29,.58,.32,1);
    }

    .mobile-menu-overlay.mobile-menu-open {
      opacity:1;
      visibility:visible;
    }

    .mobile-menu .logo a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 80px;
      border-bottom: 1px solid #eee;
    }

    .mobile-menu .logo img {
        width: 100%;
      height: auto;
    }

    .mobile-menu .login-wrap {
        padding: 15px;
      border-bottom: 1px solid #eee;
    }

    .mobile-menu .login-wrap ul {
      margin: -5px 0;
    }

    .mobile-menu .login-wrap ul li {
        padding: 5px 0;
    }

    .mobile-menu .login-wrap ul li a {
        display: flex;
      align-items: center;
      height: 45px;
      background: #f7f7f7;
      padding: 10px;
      font-weight: bold;
    }

    .mobile-menu .login-wrap ul li a .icon-wrap {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      max-width: 30px;
      min-height: 30px;
      max-height: 30px;
      border-radius: 50%;
      background: rgba(0,0,0,0.07);
      margin-right: 10px;
      font-size: 14px;
      text-transform: uppercase;
    }

    .mobile-menu .login-wrap ul li.loggedin {
        display: flex;
      align-items: center;
    }

    .mobile-menu .login-wrap ul li.loggedin a.account-link {
        flex-grow: 10;
    }

    .mobile-menu .login-wrap ul li.loggedin a.logout-link {
        padding: 0;
      background: none;
      margin-left: 15px;
    }

    .mobile-menu .login-wrap ul li.loggedin a.logout-link .icon-wrap {
        margin: 0;
    }

    .mobile-menu .categories-wrap {
        padding: 15px;
    }

    .mobile-menu .categories-wrap > ul {
        margin: -7px 0;
    }

    .mobile-menu .categories-wrap > ul > li > .cat-inner {
      display: flex;
      align-items: stretch;
      font-weight: bold;
    }

    .mobile-menu .categories-wrap > ul > li > .cat-inner > a {
        display: flex;
      align-items: center;
      padding: 7px 0;
    }

    .mobile-menu .categories-wrap > ul > li > .cat-inner > a {
        flex-grow: 10;
    }

    .mobile-menu .categories-wrap > ul > li > .cat-inner > a.more-cats {
      justify-content: flex-end;
        flex-grow: unset;
      width: 30px;
    }

    .mobile-menu .categories-wrap a.more-cats i {
        transition: all .15s ease-in-out;
    }

    .mobile-menu .categories-wrap li.active > .cat-inner > a.more-cats i {
        transform: rotate(90deg);
    }

    .mobile-menu .categories-wrap ul.subs {
      display: none;
      padding-left: 15px;
      border-left: 2px solid #eee;
      font-size: .95em;
    }

    .mobile-menu .categories-wrap ul.subs.active {
        display: block;
    }

    .mobile-menu .categories-wrap ul.subs li {
        opacity: .8;
      transition: all .15s ease-in-out;
    }

    .mobile-menu .categories-wrap ul.subs li.active {
        opacity: 1;
    }

    .mobile-menu .categories-wrap ul.subs li.active > .cat-inner > a {
        font-weight: bold;
    }

    .mobile-menu .categories-wrap ul.subs li .cat-inner {
        display: flex;
      align-items: center;
    }

    .mobile-menu .categories-wrap ul.subs li a {
      display: flex;
      align-items: center;
        padding: 5px 0;
      flex-grow: 10;
    }

    .mobile-menu .categories-wrap ul.subs li a.more-cats {
      justify-content: flex-end;
        flex-grow: unset;
      width: 30px;
    }

    .mobile-menu .extra-link {
        display: flex;
      width: 100%;
      padding: 15px;
      border-top: 1px solid #eee;
      font-weight: bold;
    }

    .mobile-menu ul.shop-settings .flag {
      min-width: 30px;
      max-width: 30px;
      min-height: 30px;
      max-height: 30px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mobile-menu ul.shop-settings .flag img {
      object-fit: cover;
      width: 30px;
      height: 30px;
    }


    .mobile-menu ul.shop-settings .icon-wrap {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      max-width: 30px;
      min-height: 30px;
      max-height: 30px;
      border-radius: 50%;
      background: rgba(0,0,0,0.07);
      margin-right: 10px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .mobile-menu ul.shop-settings > li > .inner,
    .mobile-menu ul.shop-settings > li > .inner .cur-option {
        display: flex;
      align-items: center;
    }

    .mobile-menu ul.shop-settings .flag,
    .mobile-menu ul.shop-settings .icon-wrap {
        margin-right: 10px;
    }

    .mobile-menu ul.shop-settings > li > .inner > a {
        font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 15px;
      border-top: 1px solid #eee;
    }

    .mobile-menu ul.shop-settings > li > .inner .more-cats i {
        transition: all .15s ease-in-out;
    }

    .mobile-menu ul.shop-settings > li.active > .inner .more-cats i {
        transform: rotate(90deg);
    }

    .mobile-menu ul.shop-settings ul.subs {
        display: none;
      padding: 15px;
      padding-top: 0px;
    }

    .mobile-menu ul.shop-settings ul.subs li a {
        display: flex;
      align-items: center;
      padding: 5px 0;
    } */
    .mobile-menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background: var(--black);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-out;
    }
    .mobile-menu.active {
        opacity:1;
        visibility: visible;
    }
    .mobile-menu ul {
        margin:0;
        padding:0;
        list-style:none;
        font-size: 10vw;
        line-height:15vw;
    }
    .mobile-menu ul li.active {
        color: var(--accent)
    }
    .mobile-menu .close {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 30px;
    }
    .mobile-menu .close a {
        padding: 7px 15px;
        border: 1px solid #fff;
        border-radius: 23px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
    }
    /* End mobile menu */

    /* Headline */
    .headline {
        padding:200px 0px;
        background: var(--black);
        color:#fff;
        overflow:hidden;
    }
    .headline .title {
        font-size:72px;
        max-width:750px;
    }
    .headline .general-content {
        max-width:550px;
        margin-top:30px;
        margin-bottom:50px;
    }
    .headline .title span {
        color: var(--accent);
    }
    .headline .image-col {
        max-width:550px;
    }
    .headline .icon img {
        transform-origin: center center;
        animation: swing ease-in-out 2s infinite alternate;
        height:100%;
    }
    .headline .icon.icon-1 {
        position: absolute;
        left: -15%;
        top: -15%;
        height: 40%;
        /* filter: blur(2px); */
    }
    .headline .icon.icon-1 span {
        transform: rotate(-7deg);
    }
    .headline .icon.icon-2 {
        position: absolute;
        right: -15%;
        top: -15%;
        height: 30%;
        /* filter: blur(4px); */
    }
    .headline .icon.icon-2 span {
        transform: rotate(-7deg);
    }
    .headline .icon.icon-2 img {
        animation-duration: 3s;
        animation-direction: alternate-reverse;
    }
    .headline .icon.icon-3 {
        position: absolute;
        right: -15%;
        bottom: 5%;
        height: 25%;
        /* filter: blur(6px); */
    }
    .headline .icon.icon-3 span {
        transform: rotate(-6deg);
    }
    .headline .icon.icon-3 img {
        animation-duration: 3.5s;
    }
    .headline .icon.icon-4 {
        position: absolute;
        left: -25%;
        bottom: 5%;
        height: 45%;
        /* filter: blur(1px); */
    }
    .headline .icon.icon-4 span {
        transform: rotate(-9deg);
    }
    .headline .icon.icon-4 img {
        animation-duration: 2.5s;
        animation-direction: alternate-reverse;
    }
    .headline .cta-block {
        padding:16px;
        padding-left:30px;
        background:rgba(255,255,255,.03);
        max-width:620px;
        margin: 0 auto;
        margin-top: calc(var(--block_spacing) / 2);
        border-radius: var(--border_radius_medium);
    }
    .headline .cta-block .content {
        margin-right:30px;
    }
    .headline .cta-block .btn {
        white-space:nowrap;
    }
    @keyframes swing {
        0% {
            transform: rotate(2deg) translate(0, -3px);
       }
        100% {
            transform: rotate(-2deg) translate(0, 3px);
       }
   }
   @media (min-width: 1200px) {
       .headline .general-content {
           font-size: 1.125em;
       }
   }
   @media (max-width: 1199px){
       .headline .title {
           font-size:60px;
       }
       .headline {
           padding:150px 0px;
       }
   }
   @media (max-width: 991px) {
       .headline .title {
           font-size: 55px;
       }

       .headline .icon.icon-4 {
            left: -12%;
            bottom: -2%;
       }

       .headline .icon.icon-3 {
           right: -2%;
           bottom: 5%;
       }
   }
   @media (max-width:767px) {
       .headline .title {
           font-size:30px;
       }
       .headline .cta-block {
           padding:24px;
       }
       .headline .cta-block .content {
           margin:0;
           margin-bottom:20px;
           text-align:center;
       }
       .headline {
           padding: 100px 0px;
           padding-bottom: 50px;
       }
   }
    /* End headline */

    /* Breadcrumbs */
    .breadcrumbs {
      font-weight: 500;
      margin: 20px 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }

    .breadcrumbs i {
        font-size: 0.889em;
    }

    .breadcrumbs a.home,
    .breadcrumbs .crumb {
      display: inline;
    }

    .breadcrumbs .crumb i {
        margin: 0 10px;
    }
    /* End breadcrumbs */

/* Grow page */
body.grow {
    --accent: #FF7D00;
    --accent_rgb: 255, 125, 0;
    --black: #110800;
}
#textpage,
#page-webshops,
#page-partners,
#page-grow,
#page-reviews,
#page-references,
#page-vacancies,
#vacancy,
#portfolio,
#about,
#page-addons,
#page-themes {
    padding-top:var(--header_height);
    overflow-x:hidden;
}
#page-addons {
    --accent: var(--color_addons);
}
.page-headline .title,
.vacancy-headline .title {
    font-size: 34px;
}
.page-headline .title span,
.vacancy-headline .title span {
    color: var(--accent);
}
.page-headline .general-content {
    max-width: 550px;
    margin-top: 30px;
}
.page-headline .image-col {
    max-width: 550px;
    margin-top: 30px;
}

#textpage .page-headline .container {
    max-width: calc(1000px - (var(--container_padding) * 2));
}

@media (min-width: 1200px) {
    .page-headline .title,
    .vacancy-headline .title {
        font-size: 64px;
        max-width: 700px;
    }

    .page-headline .image-col {
        margin-top: 0;
    }

    .page-headline .general-content {
        font-size: 1.125em;
    }
}

.content-box {
    padding: var(--block_spacing) calc(var(--block_spacing) / 1.5);
    background: var(--black);
    color:#fff;
    border-radius: var(--border_radius_large);
}
.content-box .title {
    font-size:30px;
    min-width:400px;
    margin-bottom:calc(var(--block_spacing) / 2);
}
.content-box .title span {
    color: var(--accent);
}
.content-box .general-content strong {
    color: var(--accent);
}

.usp-blocks {
    --spacing: 25px;
    display:flex;
    flex-wrap:wrap;
    margin: calc(var(--spacing)*-1);
}

.usp-blocks .usp-block {
    padding:var(--spacing);
}

.usp-blocks .usp-block .title {
    font-size:1.5em;
    margin-bottom: var(--spacing);
}

@media (min-width: 1200px) {
    .content-box .title {
        font-size:48px;
        margin-bottom: 0;
        margin-right:var(--block_spacing);
    }
    .content-box .general-content {
        font-size: 1.125em;
    }
}
/* End Grow page */

/* Partners */
.partners .center-item .sm-logo img {
    width: auto;
    height: 100px;
}

.partners .center-item .link img {
    margin: 0 20px;
    height: 30px;
}

.partners .center-item .title {
    font-size: 2em;
    /* font-weight: bold; */
    line-height: 1.1;
}

.partners .center-item .title span {
    color: var(--accent);
}

.partners .partner {
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid var(--grey_border);
}

.partners .partner:last-child {
    margin-bottom: 30px;
}

.partners .partner img {
    max-width: 40%;
    max-height: 50px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 992px) {
    .partners .center-item .sm-logo img {
        height: 150px;
    }

    .partners .center-item .title {
        font-size: 2.5em;
    }

    .partners .center-item .link img {
        margin: 0 30px;
        height: 40px;
    }

    .partners {
        position: relative;
        height: 70vh;
    }

    .partners .partner {
        position: absolute;
        border-radius: 50%;
        background: var(--grey_block);
        width: 10%;
        margin: 0;
        padding: 0;
        border: none;
    }

    .partners .partner:after {
        content: '';
        display: inline-block;
        padding-top: 100%;
    }

    .partners .partner span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid var(--grey_block);
        transform: translate(-50%, -50%);
    }

    .partners .partner span:nth-child(2) {
        width: 110%;
        height: 110%;
        border-width: 3px;
    }

    .partners .partner span:nth-child(3) {
        width: 120%;
        height: 120%;
        border-width: 2px;
    }

    .partners .partner span:nth-child(4) {
        width: 130%;
        height: 130%;
    }

    .partners .partner img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        max-width: 64%;
        max-height: 34%;
        object-fit: contain;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .partners .partner.partner-1 {
        top: 15%;
        left: 5%;
        width: 20%;
    }

    .partners .partner.partner-2 {
        top: 0%;
        left: 35%;
        width: 15%;
    }

    .partners .partner.partner-3 {
        top: 10%;
        right: 27%;
        width: 10%;
    }

    .partners .partner.partner-4 {
        top: 10%;
        right: 0%;
        width: 15%;
    }

    .partners .partner.partner-5 {
        bottom: 10%;
        left: 0%;
        width: 15%;
    }

    .partners .partner.partner-6 {
        bottom: 13%;
        left: 30%;
        width: 10%;
    }

    .partners .partner.partner-7 {
        bottom: 4%;
        right: 30%;
        width: 15%;
    }

    .partners .partner.partner-8 {
        bottom: 10%;
        right: 0%;
        width: 20%;
        max-width: 280px;
    }

    .partners .center-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 1200px) {
    .partners {
        height: 75vh;
    }
}
/* End partners */

/* Webshops */
#page-webshops {
    overflow: hidden;
}

#page-webshops .image-text img {
    width: 100%;
    height: auto;
    transform: translateX(30%);
    /* margin-bottom: calc(var(--block_spacing) / 2); */
}

#page-webshops .image-text.reverse img {
    transform: translateX(-30%);
}

@media (min-width: 1200px) {
    #page-webshops .image-text {
        position: relative;
    }

    #page-webshops .image-text img {
        margin: 0;
        min-height: 30vw;
        width: auto;
        transform: translateX(0%);
        /* position: absolute;
        top: 50%;
        transform: translate(-10%, -50%);
        right: 0;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 50vw;
        margin: 0; */
    }

    #page-webshops .image-text .image-col {
        display: flex;
        justify-content: flex-end;
    }

    #page-webshops .image-text.reverse .image-col {
        justify-content: flex-start;
    }

    #page-webshops .image-text.reverse img {
        transform: translateX(0%);
        /* transform: translate(10%, -50%);
        left: 0;
        right: auto; */
    }

    #page-webshops .image-text.reverse .row {
        flex-direction: row-reverse;
    }

    /* #page-webshops .image-text .content-col {
        min-height: 33vw;
    } */
}
/* End webshops */

/* CTA block */
.cta-banner.boxed {
    padding-left: calc(var(--block_spacing)/ 2);
    padding-right: calc(var(--block_spacing)/ 2);
    border-radius: var(--border_radius_large);
}
/* End CTA block */

/* Cookiecode */
body .praivacy a.btn-block {
    display:inline-flex;
    align-items:center;
}

body .praivacy a,
body .praivacy p,
body .praivacy span,
body .praivacy label {
    font-family: 'Inter', sans-serif;
}

body .pr-cookie-notice .pr-cookie-notice-description span::before {
    display:none;
}

body .praivacy .pr-modal-success-btn {
    display:inline-flex;
    align-items:center;
}

body .pr-cookie-notice .pr-cookie-notice-description span {
    padding-left:0;
    line-height:1.7em;
    max-width:800px;
    font-weight: 600;
}

body .pr-cookie-notice {
    padding: 20px 30px !important;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px) !important;
    box-shadow: none;
    background: #021514 !important;
}

body .pr-cookie-notice .pr-cookie-notice-buttons {
    padding:0 !important;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

body .pr-cookie-notice .pr-cookie-notice-description {
    padding:0 !important;
}


body .praivacy .row {
/* 	align-items:center; */
    margin:0;
}
/* End Cookiecode */

/* 404 */
#page-404 .headline-default {
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
/* End 404 */

.portfolio-headline {
    position:relative;
}

.portfolio-headline .image-wrap {
    min-height:70vh;
    position:relative;
}

.portfolio-headline .image-wrap video,
.portfolio-headline .image-wrap img {
    width:100%;
    height:100%;
    object-fit:cover;
    position:absolute;
    left:0;
    top:0;
}

.portfolio-headline .content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    color: #fff;
    padding-bottom: calc(var(--block_spacing) / 2);
}

.portfolio-headline .content-wrap.overlay-gradient {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%);
}

.portfolio-headline .content-wrap.overlay-full {
    background: rgba(0,0,0,.5);
}

.portfolio-usp {
    margin-bottom:var(--block_spacing);
}

@media (min-width: 1200px) {
    .portfolio-headline .title {
        font-size:4em;
    }
    .portfolio-headline .subtitle {
        font-size: 1.125em;
    }
    .portfolio-usp {
        margin-right:var(--block_spacing);
    }
}

.portfolio-headline .subtitle {
    margin-top:20px;
    max-width:700px;
    line-height:170%;
}

.portfolio-usp {
    white-space:nowrap;
    font-weight:bold;
}

.portfolio-usp ul {
    margin:0;
    padding:0;
    list-style:none;
    margin:-7px;
}

.portfolio-usp ul li {
    padding:7px;
    display:flex;
    align-items:center;
}

.portfolio-usp i {
    margin-right:10px;
    font-size:24px;
}

/* Addons */
.addons .addon .info {
    margin-top:20px;
}
.addons .addon .title {
    font-size:1.5em;
    margin-bottom:10px;
}
.addons .addon img {
    width:100%;
}
/* End Addons */
/* Themes */
.themes {
    margin:-25px;
}
.themes .theme {
    padding:25px;
}
.themes .theme .inner {
    padding: 40px 50px;
    background: #f7f7f7;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
}
.themes .theme .title {
    font-size: 3em;
    color: var(--accent);
    margin-bottom:20px;
}
.themes .theme .bottom {
    margin-top: calc(var(--block_spacing) * 2 / 3);

}
.themes .theme .bottom .links {
    display:flex;
    align-items:center;
}
.themes .theme .bottom .links .btn {
    margin-right:20px;
}
.themes .theme .small-text-link {
     display: block;
     font-weight: normal;
     text-decoration: underline;
     font-size: 1em;
     display:flex;
     align-items:center;
}
.themes .theme .small-text-link i {
    margin-right:5px;
    font-size:1.1em;
    text-decoration:none;
}
.themes .theme .bottom .price {
    display: flex;
    align-items: baseline;
    margin-bottom:20px;
}
.themes .theme .bottom .price .money {
    font-size:2em;
}
.themes .theme .bottom .price .per {
    margin-left: 5px;
    opacity: .5;
}
.themes .theme .image {
    position: absolute;
    top: 20%;
    height: 100%;
    border: 20px solid var(--black);
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    left: 50%;
}
.themes .theme .image img {
    height:100%;
}
.themes .theme .usp {
    padding: 0;
    list-style: none;
    margin: 0;
    margin:-5px;
}
.themes .theme .usp li {
    display:flex;
    align-items:center;
    padding:5px;
}
.themes .theme .usp li i {
    color: var(--green);
    margin-right:10px;
    font-size:120%;
}
.themes .theme .usp a {
    text-decoration:underline;
    color: var(--accent);
}
@media(max-width:1199px){
    .themes .theme .image {
        left:55%;
    }
}
@media(max-width:991px) {
    .themes .theme .inner {
        flex-direction: column;
        width: 100%;
    }
    .themes .theme .image {
        position: unset;
        margin-bottom: -30%;
        margin-top: calc(var(--block_spacing) * 2 / 3);
    }
    .themes .theme .image img {
        height:auto;
        width:100%;
    }
}
@media(max-width:767px) {
    .themes .theme .inner {
        padding:20px 30px;
    }
    .themes .theme .title {
        font-size:2em;
    }
    .themes .theme .bottom .links {
        flex-direction:column;
    }
    .themes .theme .bottom .links .btn {
        margin:0;
        width:100%;
        margin-bottom:10px;
    }
}
/* End themes */

/* Vacancies */
.vacancy-banner {
    max-width:900px;
    margin:0 auto;
}
.vacancy-banner .image {
    min-width:200px;
    max-width:200px;
    margin-right:50px;
}
.vacancy-banner .image img {
    border-radius:100%;
    width:100%;
}
.vacancy-banner .content .title {
    font-size:3em;
}
.vacancy-banner .content .general-content {
    font-size: 1.125em;
    margin-top:20px;
}

.vacancies {
    --spacing: 50px;
    --padding: 40px 50px;
    margin: calc(var(--spacing) / -2);
}
.vacancies .vacancy {
    padding: calc(var(--spacing) / 2);
}
.vacancies .vacancy .inner {
    padding: var(--padding);
    box-shadow: var(--shadow_large);
    border-radius: var(--border_radius_medium);
}
.vacancies .vacancy .title {
    font-size:2em;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:30px;
}
.vacancies .vacancy .usp {
    margin:-4px;
}
.vacancies .vacancy .usp li {
    padding:4px;
    display:flex;
    align-items:center;
}
.vacancies .vacancy .usp li i {
    color: var(--accent);
    margin-right:10px;
    font-size:1.5em;
}
.vacancies .vacancy .text-link {
    margin-top:50px;
}
.vacancy-content-wrap {
    overflow:hidden;
}
.vacancy-content-wrap .content {
    position:relative;
    padding: var(--block_spacing);
    background: var(--grey_block);
    position:relative;
}
.vacancy-content-wrap .content:after {
    content:'';
    width:100%;
    display:block;
    position:absolute;
    left:100%;
    top:0;
    width: 100vw;
    background: var(--grey_block);
    height:100%;
}
.vacancy-headline {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.vacancy-headline .tags-wrap {
    margin-top:20px;
    margin-bottom:40px;
}
.vacancy-headline .btn {
    margin-top:40px;
}
.vacancy-headline .usp {
    margin:-12px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.vacancy-headline .usp li {
    padding:12px;
    display:flex;
    align-items:center;
}
.vacancy-headline .usp i {
    margin-right:10px;
    font-size:1.5em;
    color:var(--accent);

}
@media(max-width:1199px) {
    .vacancies {
        --spacing: 30px;
        --padding: 30px 40px;
    }
    .vacancies .vacancy .title {
        font-size:1.5em;
        margin-bottom:20px;
    }
    .vacancies .vacancy .text-link {
        margin-top:30px;
    }
    .vacancy-banner .content .title {
        font-size:2.5em;
    }
}
@media(max-width:767px) {
    .vacancy-banner .image {
        margin:0;
        margin-bottom:20px;
        display:flex;
        justify-content:center;
        min-width:100%;
        max-width:unset;
    }
    .vacancy-banner .image img {
        width:150px;
    }
}
/* End vacancies */
