/* Popups */
.sm-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .2s ease-in-out;
}

.sm-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.sm-popup-overlay.active,
.sm-popup-wrapper.active {
    z-index: 9999999;
    opacity: 1;
    visibility: visible;
}

.sm-popup-modal {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
    transition: all .2s ease-in-out;
    z-index: 9999999;
    width: 100%;
    max-width: 600px;
    border-radius: var(--border_radius_medium);
    box-shadow: var(--shadow_medium);
    background: #fff;
    max-height: 80%;
    overflow-y: scroll;
}

.sm-popup-modal-spacer {
    padding: 40px;
}

.sm-popup-modal.active {
    z-index: 99999999;
    position: relative;
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

.sm-popup {
    display: none;
}

.sm-popup-modal .sm-popup {
    display: block;
}

[sm-close-popup] {
    position: sticky;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    opacity: .6;
    margin-left: auto;
    margin-bottom: -40px;
}

@media (max-width: 767px) {
    .sm-popup-modal-spacer {
        padding: 40px 30px;
    }
}
/* End popups */

/* Tags */
.tags {
    margin: -4px;
}

.tags li {
    padding: 4px;
}

.tags li span {
    display: inline-flex;
    align-items: center;
    padding: 5px 16px 8px 16px;
    color: #fff;
    background: var(--accent);
    border-radius: var(--border_radius);
    font-size: 14px;
}

.tags li.grow span {
    background: var(--color_grow);
}

.tags li.tree span {
    background: var(--color_tree);
}

.tags li.maatwerk span,
.tags li.custom span {
    background: var(--color_custom_shop);
}

.tags li.shopify span {
    background: #95bf47;
}

.tags li.medior span {
    background: var(--color_grow);
}
/* End tags */

/* References */
.references-block {
    overflow:hidden;
}
.references {
    --inner_spacing: 50px 40px;
    --outer_spacing: 15px;
    --content_spacing: 20%;
    --title_size: 2.250em;
    --title_spacing_top: 10px;
    --title_spacing_bottom: 25px;
}

.references {
    margin: calc(var(--outer_spacing)*-1);
}

.references .splide__list {
    display:flex;
    align-items:stretch;
}

.references .splide__list .splide__slide {
    display:flex;
    align-items:stretch;
}

.references .reference  {
    padding:var(--outer_spacing);
    display:flex;
    align-items:stretch;
}

.references .reference .inner {
    padding: var(--inner_spacing);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29375) 50.55%, rgba(0, 0, 0, 0.6) 100%);
    position: relative;
    overflow: hidden;
    border-radius: var(--border_radius_medium);
}

.references .reference .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    z-index: -1;
}

.references .reference .inner:hover .bg {
    transform: scale(1.01);
}

.references .reference .content {
    color: #fff;
    margin-top: var(--content_spacing);
}

.references .reference .info .name {
    font-weight: bold;
    margin-bottom: 2px;
}

.references .reference .title {
    font-size: var(--title_size);
    margin-top: var(--title_spacing_top);
    margin-bottom: var(--title_spacing_bottom);
    max-width:550px;
}

.headline-reference .inner {
    color: #fff;
    padding-bottom: 30px;
}

.headline-reference .inner:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29375) 50.55%, rgba(0, 0, 0, 0.6) 100%);
    z-index: -1;
}

.headline-reference .text-box {
    max-width: 700px;
}

.headline-reference .name {
    font-weight: bold;
    margin-bottom: 3px;
}

.headline-reference .title {
    font-size: 1.5em;
    margin-top: 7px;
}

#reference .intro-block .intro-row {
    margin: -20px;
}

#reference .intro-block .intro-col {
    padding: 20px;
}

#reference .projects .project {
    margin-bottom: calc(var(--block_spacing) / 2);
    margin-top: calc(var(--block_spacing) / 2);
}

/* #reference .projects .project .image.mobile {
    height: auto;
    top: 30px;
    transform: translateY(0%) translateX(20%);
    width: 50%;
    max-width: 300px;
} */

#reference .projects .project .text-link {
    margin-top: 50px !important;
}

#reference .projects .project .image.desktop img {
    width: 100%;
}

@media (min-width: 1200px) {
    .headline-reference .inner {
        min-height: 750px;
        padding-bottom: 50px;
    }

    .headline-reference .inner:after {
        height: 50%;
    }

    .headline-reference .title {
        font-size: 2.250em;
    }
}

@media (min-width: 768px) {
    .references-slider .splide__slide .reference .inner:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: .6;
        transition: all .3s ease-in-out;
    }

    .references-slider .splide__slide.is-active .reference .inner:after {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .references .reference {
        --inner_spacing: 40px 20px;
        --content_spacing: 20%;
        --title_size: 1.6em;
        --title_line_height: 1.3em;
        --title_spacing_top: 10px;
        --title_spacing_bottom: 25px;
        --outer_spacing: 0px;
    }
    .references .reference .inner {
        border-radius:0;
    }
}

@media (max-width: 499px) {
}
/* End references */

/* Reviews */
.featured-reviews .title-wrap .score-wrap {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.featured-reviews .title-wrap .score-wrap .count {
    color: var(--accent);
}

.featured-reviews .title-wrap .score-wrap .score {
    color: var(--yellow);
}

.reviews-masonry:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

#page-reviews .reviews-masonry:after {
    display:none;
}

.review.compact {
    max-width: 620px;
}

.review .review-inner {
    padding: 40px 30px;
    background: #fff;
    box-shadow: var(--shadow_large);
    border-radius: var(--border_radius_medium);
}

.reviews-slider {
    margin: -20px;
}

.reviews-slider .review {
    padding: 20px;
}

.reviews-slider .splide__track {
    padding: 20px;
}

.reviews-slider .review .review-inner {
    box-shadow: var(--shadow_medium);
}

.review-popup .profile-img,
.review .profile-img {
    min-width: 55px;
    max-width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.review-popup .profile-img img,
.review .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review .review-content {
    width: 100%;
}

.review-popup .name,
.review .top-info .name {
    font-weight: bold;
}

.review-popup .stars,
.review .top-info .stars {
    margin-top: 3px;
}

.review .top-info .date {
    opacity: .7;
    font-size: 0.875em;
}

.review .general-content {
    margin-top: 10px;
    opacity: .7;
}

.review .text-link {
    margin-top: 10px;
}

.review-popup .profile-wrap {
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .review-popup .profile-img,
    .review .profile-img {
        min-width: 45px;
        max-width: 45px;
        height: 45px;
        margin-right: 10px;
    }
}
/* End reviews */

/* Grow block */
@media (min-width: 1200px) {
    .grow-block .title-featured {
        margin-bottom: 0;
    }
}
/* End grow block */

/* Grow subscriptions */
.grow-subscriptions {
    --col_spacing: 25px;
    --inner_padding: 40px 30px;
    --inner_spacing: 30px;
    --accent: #FF7D00;
    --accent_rgb: 255, 125, 0;
    margin: calc(var(--col_spacing)*-1);
    /* padding-top: calc(var(--block_spacing) / 1.5); */
}

.grow-subscriptions .item {
    padding: var(--col_spacing);
}

.grow-subscriptions .item .item-inner {
    background: #fff;
    border-radius: var(--border_radius_large);
    padding: var(--inner_padding);
    position: relative;
    border: 1px solid var(--grey_border);
}

.grow-subscriptions .item.highlight .item-inner {
    border:1px solid var(--black_grow);
    background: var(--black_grow);
    transform: translate(0, calc(var(--inner_spacing)/2*-1));
    color:#fff;
}

.grow-subscriptions .item .label {
    padding: 10px 20px;
    background: var(--color_tree);
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: var(--border_radius) var(--border_radius);
    font-size:14px;
    line-height:normal;
    margin-left:10px;
}

.grow-subscriptions .item .top-info {
    margin-bottom: var(--inner_spacing);
}

.grow-subscriptions .item .top-info .item-title {
    font-size: 2.250em;
    display:flex;
    align-items:center;
}

.grow-subscriptions .item .top-info .item-subtitle {
    margin-top: 10px;
    opacity: .7;
}

.grow-subscriptions .item .top-info .item-subtitle span {
    font-weight:bold;
    color: var(--color_grow);
}

.grow-subscriptions .item .price-wrap {
    margin: var(--inner_spacing) 0;
}

.grow-subscriptions .item .price-wrap .price {
    font-weight: bold;
    font-size: 2em;
}

.grow-subscriptions .item .hours {
    opacity: .7;
}

.grow-subscriptions .item .price-wrap span {
    margin-left: .5em;
    opacity: .7;
}

.grow-subscriptions .item .btn {
    width: 100%;
}

.grow-subscriptions .item .usp li .dot {
    min-width: 16px;
    max-width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--black);
    position: relative;
    margin-right: 10px;
}

.grow-subscriptions .item .usp li .dot:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    background: var(--black);
}

.grow-subscriptions .item.highlight .usp li .dot:after {
    background: #fff;
}

.grow-subscriptions .item.highlight .usp li .dot {
    border: 2px solid #fff;
}

.grow-subscriptions .item .usp li.active .dot {
    border-color: var(--green);
}

.grow-subscriptions .item .usp li.active .dot:after {
    background: var(--green);
}

.grow-subscriptions .item .usp li:not(:last-child) {
    margin-bottom: 15px;
}

.grow-subscriptions .item .usp li:not(.active) {
    opacity:.5;
}

.grow-subscriptions .item .text-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-weight: normal;
    text-decoration: underline;
    font-size: 1em;
}

@media (min-width: 1200px) {
    .grow-subscriptions {
        /* padding-top: 100px; */
    }
}

@media(max-width:991px) {
    .grow-subscriptions .item.highlight .item-inner {
        transform: translate(0, 0);
    }
}

@media (max-width: 767px) {
    .grow-subscriptions {
        --inner_spacing: 20px;
        --col_spacing: 20px;
    }

    .grow-subscriptions .item .item-inner {
        padding: 40px 30px;
    }

    .grow-subscriptions .item .top-info .item-title {
        font-size: 1.6em;
    }

    .grow-subscriptions .item .price-wrap .price {
        font-size: 1.4em;
    }
}
/* End grow subscriptions */

/* Information block */
.information-block .info-links {
    margin: -20px 0px;
}

.information-block .info-links ul {
    padding: 20px 0px;
}

.information-block .info-links ul li:not(:last-child) {
    margin-bottom: 5px;
}

.information-block .info-links ul li:first-child {
    text-transform: uppercase;
    color: var(--accent);
    letter-spacing: .1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.information-block.boxed {
     padding-left: calc(var(--block_spacing) / 1.5);
     padding-right:calc(var(--block_spacing) / 1.5);
     border-radius: var(--border_radius_large);
}

@media (min-width: 992px) {
    .information-block .info-links {
        margin: -30px;
    }

    .information-block .info-links ul {
        padding: 30px;
    }
}

@media (min-width: 1200px) {
    .information-block .info-links {
        padding-left: 100px;
        margin: 0;
    }

    .information-block .info-links ul {
        padding: 30px 50px;
    }

    .information-block .info-links ul li a:hover {
        text-decoration: underline;
    }
}
/* End information block */

/* Projects */
.featured-projects {
    overflow: hidden;
}

.projects-slider,
.featured-projects-slider {
    margin-right: -80vw;
}

.portfolio-projects {
    overflow: hidden;
}

.portfolio-projects .splide__track {
    overflow: visible;
}

.projects {
    flex-grow: 10;
    --inner_spacing: 40px 30px;
    --title_size: 1.8em;
    --subtitle_size: 1em;
}

.projects .project {
    display: flex;
    width: 100%;
}

.projects .project .inner {
    display: flex;
    width: 100%;
    border-radius: var(--border_radius_large);
    overflow: hidden;
    padding: var(--inner_spacing);
    z-index: 0;
}

.projects .project .title {
    font-size: var(--title_size);
}

.projects .project .subtitle {
    font-size: var(--subtitle_size);
    margin-top: 5px;
}

.projects .project .tags {
    padding-top: 20px;
}

.projects .project .image {
    z-index: -1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 16px;
    background: #fff;
    border-radius: var(--border_radius_medium);
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
}

.projects .project .image.mobile {
    height: 63.2%;
    transform: translateY(-50%) translateX(30%);
}

.projects .project .image.desktop {
    height: 43.6%;
    transform: translateY(-50%) translateX(30%);
}

.projects .project.list .image.desktop {
     left:40%;
     transform:none;
     top:20%;
     width:100%;
     height:auto;
}

.projects .project.list .image.mobile {
    transform: none;
    top: 10%;
    height: 200%;
    width: auto;
    left: 70%;
    right:unset;
}

.projects .project .image img {
    height: 100%;
    width: auto;
}

.projects .project .text-link {
    margin-top: 80%;
}

.featured-projects-slider {
    width:100%;
}

@media (min-width: 768px) {
    .projects-slider,
    .featured-projects-slider {
        margin-right: -30vw;
    }

    .projects {
        --inner_spacing: 40px 50px;
        --title_size: 2.250em;
        --subtitle_size: 1.125em;
    }

    .projects .project .text-link {
        margin-top: 130%;
    }

    .projects .project .image {
        padding: 25px;
    }

    .projects .project .image.mobile {
        transform: translateY(-50%) translateX(10%);
    }

}

@media (min-width: 1200px) {
    .featured-projects .title-featured {
        margin-right: var(--block_spacing);
        min-width: 450px;
    }

    .projects-slider,
    .featured-projects-slider {
        margin-right: -25vw;
    }
}

@media (min-width: 2000px) {
    .featured-projects-slider {
        margin-right: -30vw;
    }

    .projects-slider {
        margin-right: 0;
    }
}
/* End projects */

/* Footer */
#footer {
    --col_spacing: 25px;
    --footer_spacing: 20px;
    --links_spacing: 10px;
    padding-bottom: 50px;
}

#footer .footer-spacing {
    margin-top: var(--footer_spacing);
}

#footer .main-footer {
    margin: calc(var(--col_spacing) * -1);
}

#footer .main-footer .footer-col {
    padding: var(--col_spacing);
}

#footer .main-footer .footer-title {
    font-weight: bold;
}

#footer .main-footer ul li:not(:last-child) {
    margin-bottom: var(--links_spacing);
}

#footer .main-footer ul li a:hover,
#footer .main-footer ul.contact li a {
    text-decoration: underline;
    color: var(--accent);
}

#footer .newsletter-wrap {
    max-width: 300px;
}

#footer .newsletter-wrap form {
    margin: 0;
    margin-top: var(--footer_spacing);
}

#footer .newsletter-wrap form input {
    background: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    width: 100%;
}

#footer .newsletter-wrap form input:focus {
    border-color: var(--accent);
}

#footer .newsletter-wrap .text-link {
    font-size: 16px;
    margin-top: 10px;
}

#footer .newsletter-wrap .disclaimer {
    font-size: 12px;
    margin-top: 3px;
    opacity: .5;
}

#footer .footer-logo img {
    height: 90px;
}

#footer .footer-logo .slogan {
    font-size: 1.5em;
    margin-top: 10px;
}

#footer .footer-logo .copyright {
    font-size:12px;
    opacity:.5;
    margin-top:10px;
}

@media (max-width: 768px) {
    #footer .main-footer .footer-col:not(.col-50) {
        width: 100%;
    }

    #footer {
        --col_spacing: 20px;
        --footer_spacing: 15px;
        --links_spacing: 8px;
        padding-bottom: 30px;
    }

    #footer .footer-logo img {
        height: 70px;
    }

    #footer .footer-logo .slogan {
        font-size: 1.2em;
        margin-top: 5px;
    }
}
/* End footer */

/* Headline styling */
.headline-padding {
    padding: 150px 0;
}

.headline-default .title-featured .title{
    color: var(--accent);
}

@media (min-width: 1200px) {
    .headline-default {
        --title_featured_title: 5em;
    }
}

@media (max-width: 1199px) {
    .headline-padding {
        padding: 100px 0px;
    }
}

@media (max-width: 767px) {
    .headline-padding {
        padding: 100px 0px;
        padding-bottom: 50px;
    }
}
/* End headline default */

/* Brands */
.brands-block {
    overflow: hidden;
}

.brands .brand .image-wrap img {
    height: 70px;
    object-fit:contain;
}

@media (min-width: 992px) {
    .brands {
        --brand_spacing: 30px;
        --brand_width: calc(100% / 5);
        display: flex !important;
        flex-wrap: wrap;
        margin: calc(var(--brand_spacing) * -1)  !important;
    }

    .brands .brand-col {
        text-align: center;;
        width: var(--brand_width);
        padding: var(--brand_spacing);
    }

    .brands .brand .image-wrap {
        padding: 0 15%;
    }
}

@media (max-width: 767px) {
    .brands-slider {
        margin: 0 -15vw;
    }
}
/* End brands */

/* Contact form */
.contact-form {
    --col_spacing: 8px;
    width: 100%;
}

.contact-form .inputs-wrap {
    margin: calc(var(--col_spacing) * -1);
}

.contact-form .input-wrap {
    padding: var(--col_spacing);
}

.contact-form .btn {
    width: 100%;
}

.sm-popup .title-wrap {
    margin-bottom: 30px;
}

.sm-popup .title-wrap i {
    font-size: 2em;
}

.sm-popup:not(.success) .title-wrap .success,
.sm-popup:not(.error) .title-wrap .error {
    display: none;
}

.sm-popup .title-wrap .success i {
    color: var(--green);
}

.sm-popup .title-wrap .error i {
    color: var(--red);
}

.sm-popup .title-wrap .title {
    font-size: 1.3em;
    margin-top: 5px;
}

@media (min-width: 992px) {
    .contact-form {
        max-width: 500px;
    }
}
/* End contact form */

/* FAQ */
.faq-wrap {
    max-width: 800px;
    margin: 0 auto;
}

.faq-wrap .item {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.faq-wrap .item .question {
    font-weight: bold;
    padding: 20px 0;
}

.faq-wrap .item .question i {
    margin-left: 15px;
    font-size: 1.3em;
    color: var(--accent);
    transition: all .2s ease-in-out;
}

.faq-wrap .item.active .question i {
    transform: rotate(45deg);
}

.faq-wrap .item .answer {
    display: none;
    padding-bottom: 20px;
}

@media (min-width: 992px) {
    .faq-wrap .item .question {
        font-size: 1.25em;
    }

    .faq-wrap .item .question i {
        font-size: 1.6em;
    }
}
/* End FAQ */

/* Contact info */
.contact-info-block .contact-outer-wrap {
    margin: 0 auto;
    max-width: 960px;
}

.contact-info-block .contact-wrap {
    margin: -20px;
}

.contact-info-block .contact-wrap .contact-col {
    padding: 20px;
}

.contact-info-block .contact-inner-wrap {
    margin: -10px;
}

.contact-info-block .contact-inner-col {
    padding: 10px;
}

.contact-info-block .contact-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info-block ul li:not(:last-child) {
    margin-bottom: 7px;
}

.contact-info-block ul li a {
    text-decoration: underline;
    color: var(--accent);
}

.contact-info-block .spacer {
    margin-top: 30px;
}

@media (min-width: 992px) {
    .contact-info-block .contact-inner-wrap {
        margin: -15px;
    }

    .contact-info-block .contact-inner-col {
        padding: 15px;
    }
}
/* End contact info */

/* About */
#about .team-slider img {
    width: 100%;
}

#about .team-slider .splide__slide:nth-child(even) img {
    margin-top: 3em;
}

#about .team-slider .splide__slide:nth-child(odd) img {
    margin-bottom: 3em;
}

#about .image-text {
    overflow: hidden;
}

#about .image-text .image-wrap {
    padding: var(--block_spacing) calc(var(--block_spacing) * 2) var(--block_spacing) 0;
}

#about .image-text .image-wrap img {
    width: 150%;
    transform: translateX(10%);
}

#about .image-text .content-wrap {
    padding: var(--block_spacing);
    border-bottom: 1px solid var(--grey_border);
}

#about .image-text .content-wrap * {
    max-width: 650px;
}

#about .image-text.reverse .row {
    flex-direction: row-reverse;
}

#about .image-text.reverse .image-wrap {
    padding: var(--block_spacing) 0 var(--block_spacing) calc(var(--block_spacing) * 2);
}

#about .image-text.reverse .image-wrap img {
    transform: translateX(-10%);
}

#about .image-text.reverse .content-wrap {
    justify-content: flex-end;
}

#about .image-text-center {
    overflow: hidden;
}

#about .image-text-center .title-featured {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

#about .image-text-center .image-wrap {
    margin-bottom: -25%;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

#about .outro-block .title-featured .general-content {
    max-width: 800px;
}

@media (min-width: 1200px) {
    #about .image-text .content-wrap {
        border-bottom: none;
    }
}

@media (min-width: 2000px) {
    #about .image-text .image-wrap img {
        width: 120%;
        transform: translateX(-15%);
    }

    #about .image-text.reverse .image-wrap img {
        transform: translateX(15%);
    }
}

/* End about */

.logo-bubbles {
    display:flex;
    justify-content:space-between;
    margin:-25px;
}

.logo-bubble {
    padding:25px;
    flex:1;
    max-width:350px;
}

.logo-bubble .inner {
    border-radius: 50%;
    background: var(--grey_block);
    width: 10%;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    width:100%;
}

.logo-bubble.dark .inner {
    background: var(--black);
}

.logo-bubble .inner:after {
    content: '';
    display: inline-block;
    padding-top: 100%;
}

.logo-bubble img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 64%;
    max-height: 34%;
    object-fit: contain;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.logo-bubble span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--grey_block);
    transform: translate(-50%, -50%);
}

.logo-bubble span:nth-child(2) {
    width: 110%;
    height: 110%;
    border-width: 3px;
}

.logo-bubble span:nth-child(3) {
    width: 120%;
    height: 120%;
    border-width: 2px;
}

.logo-bubble span:nth-child(4) {
    width: 130%;
    height: 130%;
}

/* Webshops page v2 */
.block-shop-steps .title-featured {
    max-width:600px;
    margin-right: var(--block_spacing);
}
.block-shop-steps .shop-steps-wrap {
    flex-grow:10;
    max-width:700px;
}

.block-shop-steps .shop-steps-wrap .items {
    justify-content:space-between;
    font-size:90%;
    font-weight:bold;
}

.block-shop-steps .shop-steps-wrap .items .item {
    text-align: center;
    opacity: .3;
}

.block-shop-steps .shop-steps-wrap .items .item.active {
    opacity:1;
    color: var(--accent);
}

.block-shop-steps .shop-steps-wrap .items .item.done {
    opacity:1;
}

.block-shop-steps .shop-steps-wrap .bar {
    height:10px;
    background:rgba(255,255,255,.1);
    border-radius:5px;
    overflow:hidden;
    margin-top:20px;
}

.block-shop-steps .shop-steps-wrap .bar .inner {
    /* width:25%; */
    height:100%;
    background: var(--accent);
    border-radius:5px;
    width:0;
    transition: all .3s linear;
}

.block-shop-steps .shop-step-status {
    margin-bottom: calc(var(--block_spacing) / 2);
}

.block-shop-steps .shop-step {
    display:none;
}

.block-shop-steps .shop-step.active {
    display:block;
}

.block-shop-steps .shop-step .icon {
    font-size: 2.5em;
    color: var(--accent);
    margin-bottom:10px;
}

.block-shop-steps .shop-step .title {
    font-size:2.5em;
    margin-bottom: 20px;
}


.block-shop-steps .buttons {
    margin-top: calc(var(--block_spacing) / 2);
}

.block-shop-steps .buttons .btn {
    margin-right: calc(var(--block_spacing) / 4);
}

.block-shop-steps .buttons a:not(.btn) {
    font-weight:bold;
}

.block-shop-steps .btn {
    backround: rgba();
}

@media(max-width:991px) {
    .block-shop-steps .shop-steps-wrap {
        margin-top: calc(var(--block_spacing) / 2);
    }
}

.services {
    margin:-15px;
}

.services .service {
    padding:15px;
}

.services .service .inner {
    padding: 40px 40px;
    background: var(--black);
    color: #fff;
    border-radius: 10px;
    height:100%;
}

.services .service i {
    font-size:2.5em;
    color:var(--accent);
    margin-bottom:10px;
}

.services .service .title {
    font-size:1.5em;
    margin-bottom:10px;
}
/* End webshops page v2 */
